@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vintage Stuff te da una cordial bienvenida.</h1>
    <p>Catálogo <a href="https://www.bershka.com/ec/">Mira nuestro catálogo de productos</a>.</p>
</div>
